name: CI

on:
  push:
    branches:
      - main
      - master # to be removed
    paths:
      - ".github/workflows/ci.yaml"
      - "go.*"
      - "*.go"
      - "Makefile"
      - "Dockerfile"
      - ".dockerignore"
  pull_request:
    branches:
      - main
      - master # to be removed
    paths:
      - ".github/workflows/ci.yaml"
      - "go.*"
      - "*.go"
      - "Makefile"
      - "Dockerfile"
      - ".dockerignore"

jobs:
  go:
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # https://github.com/actions/checkout/releases/tag/v3.1.0
      - uses: actions/setup-go@c4a742cab115ed795e34d4513e2cf7d472deb55f # https://github.com/actions/setup-go/releases/tag/v3.3.1
        with:
          go-version-file: "go.mod"
          cache: true
      - run: go mod download
      - run: go mod tidy
      - run: git diff --exit-code # This fails if you forget to apply tidy
      - run: test -z "$(gofmt -l .)" # This fails if you forget to apply gofmt
      - run: make build
      - run: make test

  docker:
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # https://github.com/actions/checkout/releases/tag/v3.1.0
      - name: Export ACTIONS_ envs
        uses: ./.github/actions/env
        id: actions-envs
      - name: Dump
        run: |
          cat << EOF
          ACTIONS_CACHE_URL=${ACTIONS_CACHE_URL}
          EOF
      #- run: make docker-build
