push:
  branches:
    - master
  paths:
    - 'RELEASE'
pull_request:
  types: [opened, synchronize]
  branches:
    - master
  paths:
    - 'RELEASE'

jobs:
  gh-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pipe-cd/actions-gh-release@v2.3.2
        with:
          release_file: 'RELEASE'
          token: ${{ secrets.GITHUB_TOKEN }}
